[starvox-asterisk-udp]
enabled = true
filter = {{asterisk_filter}}
logpath = {{ fail2ban_asterisk_access_log }}
action = iptables-multiport[name=asterisk, port={{asterisk_port}}]
maxretry = {{ maxretry }}
bantime  = {{ asterisk_bantime }}
protocol  = {{ asterisk_protocol_udp }}
findtime = {{ findtime }}

[starvox-asterisk-tcp]
enabled = true
filter = {{asterisk_filter}}
logpath = {{ fail2ban_asterisk_access_log }}
action = iptables-multiport[name=asterisk, port={{asterisk_port}}]
maxretry = {{ maxretry }}
bantime  = {{ asterisk_bantime }}
protocol  = {{ asterisk_protocol_tcp }}
findtime = {{ findtime }}